# directories
node_modules

# Foundry
cache/
out/


# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
yarn.lock

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/
previousTest.txt

#Hardhat files
cache_hardhat/
artifacts/

#Hardhat plugin files
typechain-types/
typechain